* {
  font-family: sans-serif;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f8f8f8;

}
.search:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
span {
  font-weight: 200;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 1rem;

}